{% extends 'buldi.html.twig' %}

{% block title %}Se connecter à KAZBA{% endblock %}
{% block stylesheets %} <link rel="styleSheet" href="{{asset('css/Login_style.css')}}" type="text/css" />{% endblock %}
{% block body %}
<div id="login_page" class="row">
    <div class="login_page_left col-6">
    </div>
    <div class="login_page_right col-6">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                  <h2>Vous etes déja connecté comme étant {{ app.user.username }},</h2> <a class="boutton" href="{{ path('app_logout') }}">Se déconnecter</a>
                </div>
            {% else %}

                <h1>Mon compte</h1>
                <h2><strong>connectez-vous</strong> ici </h2>
                <div>
                    <div class="form_login">
                        <label for="inputEmail">Votre adresse mail </label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" required autofocus>
                    </div>
                    <div class="form_login">
                        <label for="inputPassword">Votre mot de passe</label>
                        <input type="password" name="password" id="inputPassword" required>
                    </div>
                        <input type="hidden" name="_csrf_token"
                            value="{{ csrf_token('authenticate') }}"
                        >

                    
                        {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html #}

                        <div id="login_rememberme" class="checkbox mb-3">
                                <input type="checkbox" name="_remember_me" id="remember_me_checkbox"><b> Se souvenir de moi</b>
                        </div>

                    </div>
                    <div class="">
                        <button class="btn boutton" type="submit">
                            Se connecter
                        </button>
                    </div>
                    <p>vous n'avez pas encore de compte ?</p>
                    <li><b><a class="colorFraise" href="/register">Créer un compte</a></b></li>
                </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}
