{% extends "buldi.html.twig" %}
   {% block stylesheets %} <link rel="styleSheet" href="{{asset('css/register_style.css')}}" type="text/css" />{% endblock %}
{% block body %}
<div class="register">

        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
    <div class="col col-6">
        <img class="" src="img/SVG/background.svg">
    </div>
     
    <div class="col col-6">
        {% if is_granted('ROLE_USER') %}
        <div class="row">
            <div class="registerHero">
                <h1>Bienvenu chez Kazba</h1>
                
            </div>
            
            <div class="registerForm">
            <h2>Vous etes connecté comme particulier. Veuillez vous deconnecter pour créer un compte PRO</h2>
                
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="registerHero">
                <h1>Bienvenu chez Kazba</h1>
                <h2>Veuillez <strong>creer un compte </strong></h2>
            </div>
            <div class="registerForm">
                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Choisissez votre mot de passe'
                }) }}
                {{ form_row(registrationForm.roles) }}
                {{ form_row(registrationForm.nom) }}
                {{ form_row(registrationForm.prenom) }}
                {{ form_row(registrationForm.adresse) }}
                {{ form_row(registrationForm.telephone) }}
                <button type="submit" class="btn boutton form_boutton">Créer mon compte</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
        
        {% endif %}
    </div>
</div>
{% endblock %}
