{% extends "buldi.html.twig" %}

{% block body %}

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="row">
        <div class="registerHero col-6">
            <h1>Bienvenu chez Mon projet Immo,</h1>
            
        </div>
        
        <div class="registerForm col-6">
        <h2>Commencez par créer un compte</h2>
            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {# {{ form_row(registrationForm.username) }} #}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Votre mot de passe'
            }) }}

            <h2>Ensuite remplissez ce formulaire</h2>
            <p>Nous pourrons ainsi vous mettre en relation avec des entrepreneurs et artisans de votre region!</p>
            {{ form_row(registrationForm.roles) }}
            {{ form_row(registrationForm.nom) }}
            {{ form_row(registrationForm.prenom) }}
            {{ form_row(registrationForm.adresse) }}
            {{ form_row(registrationForm.telephone) }}
        <button type="submit" class="btn btn-success">Créer mon compte</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
