{% extends "buldi.html.twig" %}

{% block body %}

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Créer un compte</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Votre mot de passe'
        }) }}
      
        {# {{ form_row(registrationForm.agreeTerms) }} #}

        <button type="submit" class="btn btn-success">Envoyer</button>
    {{ form_end(registrationForm) }}
{% endblock %}
