
{% extends "buldi.html.twig" %}
   {% block stylesheets %} <link rel="styleSheet" href="{{asset('css/devis_style.css')}}" type="text/css" />{% endblock %}
{% block title %}Liste des projets{% endblock %}

{% block body %}
<!DOCTYPE html>

<div class="listDevis">
    
        <div class="banane">
            <h1 class="listH1">Projets <strong>en cours</strong></h1>
        </div>
        <div class="formList">
            <div class="formListChild">
                <table class="table table-hover">
                <thead>
                    {% if is_granted('ROLE_ADMIN') %}
                        <tr>
                            <th>Numero du devis </th>
                            <th>Localisation</th>
                            <th>Budget</th>
                            <th>Type de maison </th>
                            <th>Usage </th>
                            <th>Surface en m2</th>
                            <th>Nombre d'étages</th>
                            <th>Nombre de chambres</th>
                            <th>Avec garage</th>
                            <th>Amenagment d'exterieur</th>
                            <th>Auteur </th>
                            <th></th>
                        </tr>    
                           
                    {% elseif is_granted('ROLE_CLIENT') %}
                        <tr>
                            <th>Numero du devis </th>
                            <th>Localisation</th>
                            <th>Budget</th>
                            {# <th>Type de maison </th> #}
                            {# <th>Usage </th> #}
                            <th>Surface en m2</th>
                            {# <th>Nombre d'étages</th>
                            <th>Nombre de chambres</th> #}
                            {# <th>Avec garage</th>
                            <th>Amenagment d'exterieur</th> #}
                            <th>Auteur </th>
                            <th></th>
                        </tr>
                            
                    {% else %}
                        <tr>
                            <th>Numero du devis </th>
                            <th>Localisation</th>
                            <th>Budget</th>
                            <th>Type de maison </th>
                            <th>Usage </th>
                            <th>Surface en m2</th>
                            <th>Nombre d'étages</th>
                            <th>Nombre de chambres</th>
                            <th>Avec garage</th>
                            <th>Amenagment d'exterieur</th>                            
                            <th></th>
                        </tr>

                    {% endif %}

                </thead>
                <tbody>
                {% for devi in devis %}
                        

                 {% if is_granted('ROLE_ADMIN') %}
                        <td><strong>{{ devi.id }}</strong></td>
                        <td>{{ devi.departement }}</td>
                        <td>{{ devi.budget }}</td>
                        <td>{{ devi.typeMaison }}</td>
                        <td>{{ devi.typeUsage }}</td>
                        <td>{{ devi.surface }}</td>
                        <td>{{ devi.etages }}</td>
                        <td>{{ devi.chambres }}</td>
                        <td>{{ devi.garage ? 'Oui' : 'Non' }}</td>
                        <td>{{ devi.exterieur ? 'Oui' : 'Non' }}</td>
                        <td>{{ devi.user}}<br>{{ devi.user.prenom}}<br>{{ devi.user.telephone}}<br>{{ devi.user.email}}</td>
                        <td id="action">
                                {# modifier le devis #}
                                <a class="btn boutton  listBtn" href="{{ path('devis_edit', {'id': devi.id}) }}">Modifier</a> 
                                {# supprimer le devis #}
                                {{ include('devis/_delete_form.html.twig') }} </td>
                {% elseif is_granted('ROLE_CLIENT') %}
                        <td><strong>{{ devi.id }}</strong></td>
                        <td>{{ devi.departement }}</td>
                        <td>{{ devi.budget }}</td>
                        <td>{{ devi.surface }}</td>        
                        <td> <b>Contactez nous pour voir ce contact !</b></td>
                        <td id="action">
                            {# afficher le devis #}
                                <a class="btn boutton listBtn " href="{{ path('devis_show', {'id': devi.id}) }}">En savoir plus</a>
                            {# ajouter au panier #}
                                <a class="btn boutton commande" href="{{ path('contact') }}" >Demander la fiche client</a></td>   
                {% else %}
                        <td><strong>{{ devi.id }}</strong></td>
                        <td>{{ devi.departement }}</td>
                        <td>{{ devi.budget }}</td>
                        <td>{{ devi.typeMaison }}</td>
                        <td>{{ devi.typeUsage }}</td>
                        <td>{{ devi.surface }}</td>
                        <td>{{ devi.etages }}</td>
                        <td>{{ devi.chambres }}</td>
                        <td>{{ devi.garage ? 'Oui' : 'Non' }}</td>
                        <td>{{ devi.exterieur ? 'Oui' : 'Non' }}</td>
                        <td id="action">
                            {# modifier le devis #}
                                <a class="btn bouttonDark listBtn" href="{{ path('devis_edit', {'id': devi.id}) }}">Modifier ce projet</a>
                            {# supprimer le devis #}
                                {{ include('devis/_delete_form.html.twig') }}</td>
                {% endif %}


                        

                        
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="10"><h2>Aucuns projet</h2></td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
                <div class="listDown">
                    <a class="bouttonDark" href="/">Retourner à l'accueil</a>
                </div>
            </div>
        </div>
    
</div>
{% endblock %}
