{% extends "buldi.html.twig" %}


{% block body %}
{% if is_granted('ROLE_ADMIN') %}
    <h1>Devis</h1>
{% elseif is_granted('ROLE_CLIENT') %}
    <h1>Derriere ce devis se cache peut-etre un client potentiel !</h1>
{% else %}
    
    <h1>Vous serez bientot contacté par des professionnels!</h1>
{% endif %}

    
   

    <table class="table">
        <tbody>
        <tr>
            <th>Auteur du devis</th>
            {% if is_granted('ROLE_ADMIN') %}
                <td>{{ devi.user}} {{ devi.user.prenom }} / <b>Utilisateur n° :</b> {{ devi.user.id }}</td>
            {% elseif is_granted('ROLE_CLIENT') %}
                <td><b>Concatez nous pour voir la fiche de ce client </td>
            {% else %}
                <td>{{ devi.user}} {{ devi.user.prenom }}</td>
            {% endif %}
            </tr>
            <tr>
                <th>Référence du devis</th>
                <td>{{ devi.id }}</td>
            </tr>
            <tr>
                <th>Type de maison</th>
                <td>{{ devi.typeMaison }}</td>
            </tr>
            <tr>
                <th>Usage</th>
                <td>{{ devi.typeUsage }}</td>
            </tr>
            <tr>
                <th>Surface en m2</th>
                <td>{{ devi.surface }}</td>
            </tr>
            <tr>
                <th>Budget</th>
                <td>{{ devi.budget }}</td>
            </tr>
            <tr>
                <th>Nombre d'étages</th>
                <td>{{ devi.etages }}</td>
            </tr>
            <tr>
                <th>Nombre de chambres</th>
                <td>{{ devi.chambres }}</td>
            </tr>
            <tr>
                <th>Garage</th>
                <td>{{ devi.garage ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Amenagment d'exterieur</th>
                <td>{{ devi.exterieur ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Localisation du chantier (departement)</th>
                <td>{{ devi.departement}}</td>
            </tr>
        </tbody>
    </table>
    {% if is_granted('ROLE_USER') %}
        <h2>Vous pouvez modifier ou supprimer le devis</h2>
    {% elseif is_granted('ROLE_CLIENT') %}
        <h2>Ne passez pas a coté de cette orpportunité</h2>
    {% endif %}
     
    <div class="action">
        {% if is_granted('ROLE_ADMIN') %}

            <a class="btn btn-primary" href="{{ path('devis_index') }}">Retour aux devis</a>

        {% elseif is_granted('ROLE_CLIENT') %}
        
            <a class="btn btn-primary" href="{{ path('devis_index') }}">Retour aux devis</a>
            <a id="print" class="btn btn-md btn-dark" href="javascript:window.print()">Imprimer mon devis</a>	
            <a class="btn btn-danger" href="{{ path('contact') }}">Nous contacter a propos de ce client</a>

        {% elseif is_granted('ROLE_USER') %}
        
            <a class="btn btn-primary" href="{{ path('accueil') }}">Quitter et retourner a l'accueil</a>
            {{ include('devis/_delete_form.html.twig') }}
            <a class="btn btn-warning" href="{{ path('devis_edit', {'id': devi.id}) }}">Modifier mon devis</a>
            <a id="print" class="btn btn-md btn-dark" href="javascript:window.print()">Imprimer mon devis</a>	

        {% endif %}
       
        	
        
    </div>
{% endblock %}
