<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}{#{{ encore_entry_link_tags('app') }}#}{% endblock %}
        {% block javascripts %}{#{{ encore_entry_script_tags('app') }}#}{% endblock %}
     
        <link rel="preconnect" href="https://fonts.gstatic.com">
        {# adobe font Bebas Neue Pro Regular #}
        <link rel="stylesheet" href="https://use.typekit.net/bre7brd.css">
        
        <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans+Condensed:wght@300;700&family=Oswald:wght@500&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        {# biblioteque de bouton #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bttn.css/0.2.4/bttn.min.css" integrity="sha512-/2285SnGiTHjSKBkJzedsJ8wwSP0j74ZQyusMQ9j5Z1RtyKqZ3XtfS8hVp8OadLs2uq+8V6/n+CyqUNTO/UpYg==" crossorigin="anonymous" />
       
        <link rel="styleSheet" href="{{asset('css/General_style.css')}}" type="text/css" />
        <link type="text/css" src="./dist/bttn.min.css"/>
    </head>
    <body>
        <header>
            <div class="row navigation" >
                    <a class="col col-2" href="/" ><div id="logo_header"></div></a>

                    {% if is_granted('ROLE_ADMIN') %}
                    <div class="menu col col-4">
                        <nav>
                        <ul>
                            <li><b><a href="#">Administration</b></a>
                                <ul>            
                                
                                <li><a href="/devis" class="">Gestion des devis</a></li>
                                <li><a href="/user" class="">Gestion des utilisateurs</a></li>
                              
                                </ul>
                            </li>
                        </ul>
                        </nav>
                    </div>

                    {% endif %}
                    <div class="col col-6">    
                        <ul>
                            {% if app.user %}
                                <li><b><a href="/user/{{app.user.id}}" class="bouton">{{ app.user.prenom }}</a></b></li>
                                <li><a href="/logout">Se déconnecter</a></li>
                            {% else %}
                                <li><b><a href="/login">Se connecter</a></b></li>
                            {% endif %}

                            {% if is_granted('ROLE_CLIENT') %}
                                
                            {% elseif is_granted('ROLE_USER')%}  
                                <li><a href="/devis/mes_devis" class="bouton">Mes devis</a></li>
                            {% endif %}   
                            
                            <li><a href="/pro">Espace PRO</a></li> 
                            <li><b><a href="/contact" class="bouton">Nous contacter</a></b></li>

                        </ul>
                    </div
            </div>
        </header>
        
           
                    {# Message Flash #}
                {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
                {% endfor %}

                {% block body %}{% endblock %}
          
        
        
        <footer>
            <div class="footerNav row">
                <div class="col col-5 footerListLeft">
                    <ul class="col footerListLeft">
                        <li><a href="/mentions_legales" class="bouton">Mentions légales</a></li>
                        <li><a href="/"> Pourquoi utiliser Kazba</a></li>
                        <li><a href="/">Qui sommes nous?</a></li>
                    </ul>
                </div>
                <div class="col col-2 footerListMiddle">
                <a class="" href="/" ><div id="logo_footer"></div></a>
                    <a href="https://www.linkedin.com/in/frederic-castel-8a57771a6/"><p class="copyright">Kazba - Copyright Frederic Castel - 2021</p></a>
                </div>
                <div class="col col-5">
                    <ul class="footerListRight">
                        <li><a href="/mentions_legales" class="bouton">Vous êtes professionnel?</a></li>
                        <li><a href="/contact">Nous contacter</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>
