{{ form_start(form) }}
    {{ form_widget(form) }}
    {{ include('user/_delete_form.html.twig') }}
    <button class="btn boutton">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
