{% extends "buldi.html.twig" %}
{% block title %}Mon profil{% endblock %}

{% block body %}
<!DOCTYPE html>

<title>User</title>
    
    
    <div class="listDevis">
        <div class="banane">
            <h1 class="listH1"><b>Bienvenu</b> {{ user.prenom}}</h1>
        </div>
        <div class="formList">
            <div class="formListChildSmall">
                <table class="table">
                    <tbody>
                        <tr>
                            <th class="AlignLeft"> Nom</th>
                            <td class="AlignRight">{{ user.nom}}</td>
                        </tr>
                        <tr>
                            <th class="AlignLeft"> Prénom</th>
                            <td class="AlignRight">{{ user.prenom}}</td>
                        </tr>
                        <tr>
                            <th class="AlignLeft"> Adresse</th>
                            <td class="AlignRight">{{ user.adresse}}</td>
                        </tr>
                        <tr>
                            <th class="AlignLeft"> Telephone</th>
                            <td class="AlignRight">{{ user.telephone}}</td>
                        </tr>
                        <tr>
                        {% if is_granted('ROLE_ADMIN') %}
                        <tr>
                            <th class="AlignLeft"> Numero du client</th>
                            <td class="AlignRight">{{ user.id }}</td>
                        </tr>
                        {% else %}
                        <th class="AlignLeft">Mon numero client</th>
                            <td class="AlignRight">{{ user.id }}</td>
                        {% endif %}
                            
                        </tr>
                        <tr>
                            <th class="AlignLeft">Email</th>
                            <td class="AlignRight">{{ user.email }}</td>
                        </tr>
                        <tr>
                            <th class="AlignLeft">Vous etes un </th>
                            <td class="red AlignRight">
                            {% if is_granted('ROLE_ADMIN') %}
                            ADMIN
                            {% elseif is_granted('ROLE_CLIENT') %}
                            PROFESSIONNEL
                            {% else %}
                            PARTICULIER
                            {% endif %}
                            </td>
                            
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    
    <div>
           
            <a class="btn boutton" href="{{ path('user_edit', {'id': user.id}) }}">Modifier mes informations</a>
            {% if is_granted('ROLE_ADMIN') %}
            <div>{{ include('user/_delete_form.html.twig') }}</div>
            {% endif %}
    </div>
    {% if is_granted('ROLE_ADMIN') %}
    <a class="btn bouttonDark" href="{{ path('user_index') }}">Retour aux utilisateurs</a>
    {% else %}
    <a class="btn bouttonDark" href="{{ path('accueil') }}">Retour à l'accueil</a>
    {% endif %}
{% endblock %}
